<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
</ul>
<ul class="nav-bar ml-auto">
    <l class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id='navbardropdownMenuLink'>
            Ideas Bank </a>
        <div class="dropdown-menu">
            <a href="/ideas" class="dropdown-item">Ideas</a>
            <a href="/ideas/add" class="dropdown-item">Add Idea</a>
        </div>
    </l>
</ul>