<div class="text-center jumbotron">
    <h3 class="display-3">
        {{title}}
    </h3>
    <p class="lead">
        put down your ideas men and women
    </p>
    <a href="/ideas/add" class="btn btn-dark btn-lg">add Idea</a>
</div>
gitignore